@page "/Profile"
@using ChatBlazor.Models
@using Blazored.LocalStorage
@inject HttpClient Http
@inject ILocalStorageService Storage
<h3>Profile</h3>
@{
    if (user != null)
    {
        <p>Name : @user.Name</p>
    }
    else
    {
        <MudProgressCircular Color = "Color.Primary" Indeterminate="true" />
    }
}
@code {
    UserModel? user { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var token = await Storage.GetItemAsStringAsync("token"); 

        var request = new HttpRequestMessage(HttpMethod.Get, "/api/Account");
        request.Headers.Add("Authorization",$"Bearer {token}");
        var response = await Http.SendAsync(request);
        user = await response.Content.ReadFromJsonAsync<UserModel>();
    }

    

}
